

body {
    background: #483D80;
    margin: 0 auto;
    text-align: center;
}


h1 {
    color: red;
}

.page {
    width: 90%;
    background-color: GhostWhite;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #181D10;
    padding: 1rem;
}

.head {
    color: blue;
}

#real-head {
    color: maroon;
    list-style-type: circle;
}

#real-head:before {
   content:"\A";
   width:10px;
   height:10px;
   border-radius:50%;
   background: rgba(74, 114, 245, .8);
   margin-right: 5px;
   display:inline-block;
}

#real-head:after {
   content:"\A";
   width:10px;
   height:10px;
   border-radius:50%;
   background: #C0C0C0;
   margin-right: 5px;
   display:inline-block;
}

h2 {
    width: 70%;
    margin: 0 auto;
}

.list {
    display: flex;
    justify-content: center;

}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50%;
    color: darkGrey;
    background: silver;
    width: 65%;
    padding: 1rem;
    border-radius: 25px;
}



li {
    list-style-type: none;
    margin: .5rem;
    padding: 1rem;
    width: 30%;
    border: 2px solid black;
    border-radius: 5%;
}

li:hover {
    color: red;
    background: rgba(255,0,0,0.3);
}

#show {
    cursor: pointer;
    width: 10rem;
    margin: 1rem auto;
}

#funPage {
    display: none;
    background: rgba(255,0,0,0.7);
    width: 300px;
    height: 200px;
    border-radius: 20%;
    z-index: 3;
    position: fixed;
    left: 35%;
    color: white;
}

#funPage > h1 {
    color: white;
}


#info {
    margin: 0 auto;
}